!!! 5
%html
  %head
    %meta{ :content=> "text/html; charset=UTF-8", "http-equiv"=>"Content-Type" }
  %body
    %h3= t(:reset_password) + " - #{@user.name} (#{@user.email})"   
    %p= t :click_the_link_to_reset_password
    %p= @url
