<h1>Listing auctions</h1>

<table>
  <tr>
    <th>Date opened</th>
    <th>Date closed</th>
    <th>Opened</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.date_opened %></td>
    <td><%= auction.date_closed %></td>
    <td><%= auction.opened %></td>
    <td><%= auction.item_id %></td>
    <td><%= link_to 'Show', auction %></td>
    <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
    <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auction', new_auction_path %>
