= provide(:title, t(:listing_auctions))
%h1= t(:listing_auctions)

-methods= [:date_opened, :date_closed, :opened, :item]
-if @auctions.any?
	%table.table.table-condensed
		%tr
			- methods.each do |method|
				%th= Auction.human_attribute_name(method)
			- if @user.admin?
				%th
				%th
				%th
		-@auctions.each do |auction|
			%tr
				-methods.each do |method|
					- case method
						- when :opened
							%td= auction.open?.to_s(:Word)
						- when :date_opened, :date_closed
							%td= (l auction[method]) if auction[method] 
						- when :item
							%td= auction.item
						- else
							%td= auction[method]
				- if @user.admin?
					%td= link_to t(:show), auction 
					%td= link_to t(:edit), edit_auction_path(auction) 
					%td= link_to t(:destroy), auction, method: :delete, data: { confirm: t(:you_sure?) }

= link_to t(:new_auction), new_auction_path if @user.admin?

