!!! 5
%html{ :dir => t('txt.page.properties.dir', default:"ltr") }
  %head
    %title= yield(:title)
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "controllers/"+controller.controller_name if WateringProject::Application.assets.find_asset("controllers/#{controller.controller_name}.css")    
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    = yield :head
  %body
    = render 'layouts/header'
    %div.container
      - flash.each do |key, value|
        %div{ :class => ["alert", "alert-#{key}"] }
          = value
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
